{% extends 'base.html' %}
{% load static%}
{% block title %}SignTrad{% endblock %}

{% block content %}
<section id="hero">
    <div class="tituloimagen" style="background-image: url('{% static 'images/wallpaper.jpg' %}');">
    <h1>SignTrad</h1>
    <p>Rompiendo las barreras del silencio</p>
    <p>donde cada gesto cuenta.</p>
    <a href="#download" class="cta-button">Descargar Ahora</a>
    
    </div>
</section>

<section id="features">
    <h1>Características Principales</h1>
    <div class="feature">
        <img src="{% static 'images/caracteristica1.png' %}" alt="Característica 1">
        <div class='texto1'>
        <h2>Traducción Instantánea</h2>
        <p>Nuestra aplicación ofrece una traducción instantánea y precisa del lenguaje de señas en tiempo real. Convierte los gestos y movimientos en un lenguaje comprensible al instante, eliminando las barreras de comunicación entre personas que usan lenguaje de señas y aquellos que no lo usan. Nunca ha sido tan fácil comunicarse y entenderse mutuamente</p>
        </div>
    </div>
    <hr class="divider"> <!-- Línea divisoria -->
    <div class="feature reverse">
        <img src="{% static 'images/caracteristica2.jpg' %}" alt="Característica 2">
        <div class='texto2'>
        <h2>Compatibilidad Multilingüe</h2>
        <p>Nuestra aplicación es compatible con una amplia gama de idiomas de señas de todo el mundo. Ya sea que estés utilizando el lenguaje de señas americano (ASL), lenguaje de señas británico (BSL), lenguaje de señas japonés (JSL) u otros, nuestra aplicación te ofrece la capacidad de traducir y comunicarte en múltiples idiomas de señas. Rompemos las barreras lingüísticas para garantizar que todos puedan comunicarse y comprenderse sin importar el idioma de señas que utilicen</p>
        </div>
    </div>
    <!-- Agrega más características aquí -->
</section>

<section id="download">
    <h2>Descarga la Aplicación</h2>
    <p>Descarga nuestra aplicación móvil y disfruta de todas las características increíbles.</p>
    <div class="download-buttons">
        <a href="#" class="app-store-button">
            <img src="{% static 'images/app-store.png' %}" alt="App Store">
        </a>
        <a href="#" class="play-store-button">
            <img src="{% static 'images/play-store.png' %}" alt="Google Play">
        </a>
    </div>
</section>

<section id="contact">
    <h2>Contacto</h2>
    <p>¿Tienes alguna pregunta? ¡Contáctanos!</p>
    <form>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="message">Mensaje:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        
        <div class="submit-container">
            <button type="submit">Enviar</button>
        </div>
    </form>
</section>
{% endblock %}