body {
    font-family: Arial, sans-serif;
    background-color: #25252522;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Roboto Slab', serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos del encabezado */
#hero {
    background-color: #ffffff;
    color: #fff;
    text-align: center;

}

#hero h1 {
    font-size: 60px;
    margin-bottom: 110px;
}

#hero p {
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Young Serif', serif;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

/* Estilos de las características principales */
#features {

    background-color: #fff;
    padding: 50px 0;
    
}

#features h1 {
    text-align: center;
    font-size: 32px;
    font-family: 'Young Serif', serif;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between; /* Esto alinea la imagen a la derecha */
    align-items: center; /* Esto centra verticalmente el contenido */
    margin-bottom: 40px; /* Aumentamos el espacio entre características */
}

.feature.reverse {
    flex-direction: row-reverse; /* Invierte el orden de los elementos en filas */
}

.feature img {
    width: 400px;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 20px; /* Agregamos un margen a la izquierda de la imagen */
}

.feature p {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    flex: 1; /* Esto hace que el texto ocupe el espacio restante */
    margin: 0; /* Quitamos los márgenes predeterminados */
}

#download {
    background-color: #f0f0f0; /* Cambia el color de fondo a un tono más claro */
    padding: 30px 0; /* Añade espacio alrededor de la sección */
    text-align: center; /* Centra el contenido horizontalmente */
}

#download h2 {
    color: #333; /* Cambia el color del título */
    font-size: 24px; /* Ajusta el tamaño de fuente del título */
}

#download p {
    color: #666; /* Cambia el color del texto descriptivo */
    font-size: 18px; /* Ajusta el tamaño de fuente del texto descriptivo */
    margin: 20px 0; /* Añade espacio entre el texto y los botones */
}

.download-buttons {
    text-align: center; /* Centra los botones horizontalmente */
}

.app-store-button,
.play-store-button {
    display: inline-block; /* Muestra los botones en línea uno al lado del otro */
    margin: 10px; /* Agrega margen entre los botones */
}

.app-store-button img,
.play-store-button img {
    width: 150px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto; /* Mantiene la proporción de aspecto */
}


/* Estilos de la sección de contacto */
#contact {
    background-color: #f0f0f0; /* Cambia el color de fondo a un tono más claro */
    padding: 50px 0; /* Añade espacio alrededor de la sección */
    text-align: center; /* Centra el contenido horizontalmente */
}

#contact h2 {
    color: #333; /* Cambia el color del título */
    font-size: 36px; /* Ajusta el tamaño de fuente del título */
    margin-bottom: 20px; /* Agrega espacio debajo del título */
}

#contact p {
    color: #666; /* Cambia el color del texto descriptivo */
    font-size: 18px; /* Ajusta el tamaño de fuente del texto descriptivo */
    margin-bottom: 30px; /* Agrega espacio debajo del texto descriptivo */
}

form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px; /* Agrega espacio debajo de las etiquetas de los campos */
}

form input[type="text"],
form input[type="email"]{
    width: 80%; /* Cambia el ancho de los campos de entrada */
    max-width: 400px; /* Establece un ancho máximo para los campos */
    padding: 10px;
    margin-bottom: 20px; /* Agrega espacio debajo de los campos de entrada */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto; /* Centra horizontalmente los campos de entrada */
}

form textarea {
    width: 80%; /* Cambia el ancho del textarea */
    max-width: 400px; /* Establece un ancho máximo para el textarea */
    padding: 10px;
    margin: 0 auto; /* Centra horizontalmente el textarea */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de "Enviar" */
form button[type="submit"] {
    background-color: #007BFF; /* Cambia el color de fondo del botón Enviar */
    color: #fff; /* Cambia el color del texto del botón Enviar a blanco */
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Cambia el display a bloque para ponerlo debajo del formulario */
    margin-top: 10px;/* Agrega margen superior para separarlo del formulario */
    margin-left: auto;
    margin-right: auto; 
}

form button[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo en el hover */
}


/* navbar */
.navbar {
    background-color: #333; /* Color de fondo de la barra */
    color: #fff; /* Color del texto en la barra */
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu a {
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    font-family: 'Comfortaa', cursive;
    transition: color 0.3s; /* Transición suave del color al pasar el mouse */
}

.tituloimagen {
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover; /* Opcional: ajusta el tamaño de la imagen de fondo */
}

.texto1 {
    margin-left: 100px;
    margin-right: 100px;
}

.texto2 {
    margin-left: 100px;
    margin-right: 100px;
}

.divider {
    border: 1px solid #ccc; /* Establece el estilo de la línea */
    margin: 20px auto; /* Alinea la línea horizontalmente y agrega espacio */
    width: 80%; /* Ancho de la línea */
}


